@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*-------------------MENU-------------------*/
body.INDEXX {
    margin: 0;
    justify-content: center;
    background-repeat: repeat;
    background-image: url("https://i.pinimg.com/originals/5f/c4/e8/5fc4e869b83b2810324deb077f437e21.jpg");
}
div{
    background-color: rgb(233, 243, 241);
    border: 0px solid aliceblue;
    padding: 5px;
    margin: 30px;
    width: 25%;
    height: 700%;
    margin: auto;
  }
div.INDEXX{
    padding:10px 50px;
    color: rgb(2, 2, 2);
    font-size: 20px;
}
h1.INDEXX{
    font-family: 'Langar', cursive;
    /*font-family: 'Rock 3D', cursive;*/
        text-align: center;
        
}
/*-------------------MENU-------------------*/

/*-------------------IMAGEN-------------------*/
div.img{
    text-align:center;
    border-radius: 180px;
    
}
/*-------------------IMAGEN-------------------*/

h2{
    padding:0px 50px;
    font-family: 'Rock 3D', cursive;
    color: blueviolet;
    text-align: right;
    font-size: 25px;
}

@media only screen and (max-width: 900px){
    body.INDEXX {
        /*background-color: rgb(173, 98, 157);*/
        background-repeat: repeat;
        background-image: url("https://cdn.pixabay.com/photo/2017/09/07/20/51/background-2726634_960_720.png"); 
    }

    div.INDEXX{
        padding:10px 50px;
        color: rgb(10, 10, 10);
        font-size: 25px;

    background-color: rgb(233, 243, 241);
    border: 0px solid aliceblue;
    padding: 5px;
    margin: 30px;
    width: 65%;
    height: 700%;
    margin: auto;
    }
}